
  <!-- <div class="side-bar-bg">
    <div class="bright-web">
      Dash
      <span style="color: rgba(32, 34, 36, 1)">Stack</span>
    </div>
    <div class="hide-bg">
      <div class=""></div>
      <div class="products">Dashboard</div>
    </div>
    <div class="hide-bg-2">
      <div class=""></div>
      <div class="products">Products</div>
    </div>
    <div class="hide-bg-3">
      <div class=""></div>
      <div class="products">Favorites</div>
    </div>
    <div class="hide-bg-4">
      <div class=""></div>
      <div class="products">Inbox</div>
    </div>
    <div class="hide-bg-5">
      <div class=""></div>
      <div class="products">Order Lists</div>
    </div>
    <div class="hide-bg-6">
      <div class=""></div>
      <div class="products">Product Stock</div>
    </div>
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/9e56e7d294124136ca70785c836a45649f130014acf518fa0a888ecd5fc898e2?apiKey=4f0af24cd3cf4276b6ce8eab5acacfb6&&apiKey=4f0af24cd3cf4276b6ce8eab5acacfb6"
      class="img"
    />
    <div class="pages">PAGES</div>
    <div class="hide-bg-7">
      <div class=""></div>
      <div class="products">Pricing</div>
    </div>
    <div class="hide-bg-8">
      <div class=""></div>
      <div class="products">Calender</div>
    </div>
    <div class="hide-bg-9">
      <div class=""></div>
      <div class="products">To-Do</div>
    </div>
    <div class="div">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/ed09ef2586ed971582889364ade2ba4bd8e8b5a7597412e591ce628deb321571?apiKey=4f0af24cd3cf4276b6ce8eab5acacfb6&&apiKey=4f0af24cd3cf4276b6ce8eab5acacfb6"
        class="img-2"
      />
      <div class="-2"></div>
      <div class="products-2">Contact</div>
    </div>
    <div class="hide-bg-10">
      <div class=""></div>
      <div class="products">Invoice</div>
    </div>
    <div class="hide-bg-11">
      <div class=""></div>
      <div class="products">UI Elements</div>
    </div>
    <div class="hide-bg-12">
      <div class=""></div>
      <div class="products">Team</div>
    </div>
    <div class="hide-bg-13">
      <div class=""></div>
      <div class="products">Table</div>
    </div>
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/9e56e7d294124136ca70785c836a45649f130014acf518fa0a888ecd5fc898e2?apiKey=4f0af24cd3cf4276b6ce8eab5acacfb6&&apiKey=4f0af24cd3cf4276b6ce8eab5acacfb6"
      class="img"
    />
    <div class="hide-bg-14">
      <div class=""></div>
      <div class="products">Settings</div>
    </div>
    <div class="div-2">
      <div class=""></div>
      <div class="products-3">Logout</div>
    </div>
  </div> -->

  <h1>Side bar</h1>