
  <div class="form">
    <form action=""  [formGroup]="userPassword" >
      <div class="head">
        <h1>Reset Password</h1>
        <p>Enter your new password</p>
      </div>
      <div class="fields">
        <label for="password">Password:</label>
        
        <input type="password" id="password" name="password" placeholder="  " formControlName="password" >
        @if (userPassword.controls['password'].errors && userPassword.controls['password'].touched) {
          @if(userPassword.controls['password'].errors['required']){
          <span class="error">{{inputerrormessages.required}}</span>
          }@else if (userPassword.controls['password'].errors['passwordComplexity']) {
          <span class="error">
           {{inputerrormessages.password}}
          </span>
          }
          }
          <label for="password">Confirm Password:</label>
        
        <input type="password" id="confirmpassword" name="confirmpassword" placeholder="  " formControlName="confirmpassword" >
        @if (userPassword.controls['confirmpassword'].errors && userPassword.controls['confirmpassword'].touched) {
          @if(userPassword.controls['confirmpassword'].errors['required']){
          <span class="error">{{inputerrormessages.required}}</span>
          }@else if (userPassword.controls['confirmpassword'].errors['passwordComplexity']) {
          <span class="error">
           {{inputerrormessages.password}}
          </span>
          }
          }
      </div>
      <span class="error">
        {{passwordmatch}}
       </span>
      <div class="link">
        <button type="submit" (click)="SetPassword($event)">Set Password</button>
        <p>Don't have an account? <a routerLink="/auth/signup">Create Account</a></p>
      </div>
    </form>
  </div>
  