.form {
  background-color: rgba(72, 123, 255, 1);
  background-image: url("/Shape.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  display: grid;
  place-items: center;
}

form {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 50px 20px 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: rgba(32, 34, 36, 1);
}

form .head {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form .head h1 {
  color: #000;
  font-size: 1.5rem;
}

p {
  font-size: 0.875rem;
  margin: 0;
  color: rgba(32, 34, 36, 1);
}
label {
  font-size: 0.875rem;
}
input {
  border: 1px solid rgba(216, 216, 216, 1);
  border-radius: 4px;
  padding: 10px;
  font-size: 0.875rem;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  background-color: rgba(241, 244, 249, 1);
  outline: none;
  border-color: rgba(72, 128, 255, 1);
}
input::placeholder {
  color: rgba(151, 151, 151, 1);
}
input[type="password"]::placeholder {
  letter-spacing: normal;
  background-image: url("/Password.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 75px;
}
input[type="password"] {
  letter-spacing: 5px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form .link {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: space-between;
}

form .link button {
  background-color: rgba(72, 128, 255, 1);
  color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
form .link a {
  color: rgba(90, 140, 255, 1);
  text-decoration: none;
}

form .link a:hover {
  text-decoration: underline;
}

.form section{
  background-color: #ffffff;
  max-width: 60%;
  padding: 20px;
  border-radius: 8px;
  display: flex;
flex-direction: column;
align-items: center;
gap: 25px;
animation: updowm 1s ease;

}
@keyframes updowm {
  0%{
    transform: translateY(-100%);
    opacity: 0;
  }100%{
    transform: translateY(0%);
    opacity: 1;
  }
  
}
.form section button{
  background-color: rgba(72, 128, 255, 1);
  color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.error {
  color: red;
  font-size: 0.8em;
}


#loader {
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid rgb(226, 226, 226);
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: rgba(90, 140, 255, 1);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}