<div *ngIf="load" id="loader">
  <span class="loader"></span>
</div>
<div class="form">
  <form [formGroup]="registeruser" *ngIf="!isemailregister; else emailsent">

    <div class="head">
      <h1>Create an Account</h1>
      <p>Create a account to continue</p>
    </div>
    <div class="fields">
      <label for="email">Email Address:</label>
      <input type="text" id="email" name="email" placeholder="Enter your email" formControlName="email">
      @if (registeruser.controls['email'].errors && registeruser.controls['email'].touched) {
      @if(registeruser.controls['email'].errors['required']){
      <span class="error"> {{inputerrormessages.required}} </span>
      }@else if (registeruser.controls['email'].errors['email']) {
      <span class="error">
        {{inputerrormessages.email}}
      </span>
      }

      }
      <label for="username">Username</label>
      <input type="text" id="userName" name="userName" placeholder="userName" formControlName="userName">
      @if (registeruser.controls['userName'].errors?.['required'] && registeruser.controls['userName'].touched) {
      <span class="error"> {{inputerrormessages.required}} </span>
      }
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="  " formControlName="password">
      @if (registeruser.controls['password'].errors && registeruser.controls['password'].touched) {
      @if(registeruser.controls['password'].errors['required']){
      <span class="error">This field is required</span>
      }@else if (registeruser.controls['password'].errors['passwordComplexity']) {
      <span class="error">
       {{inputerrormessages.password}}
      </span>
      }
      }
    </div>

    <div class="link">
      <button (click)="verify($event)">Sign Up </button>

      <p>Already have an account? <a routerLink="/auth/login">Login</a></p>
    </div>
  </form>
  <ng-template  #emailsent>
    <section>
      <img src="mail.png" alt="Inbox Icon" width="60%">
  <h1>
  {{verificationmessage}}
  </h1> 
  <p> {{accountsuccessmessage}}</p>
 <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank"><button>Open Gmail</button></a>
</section>
</ng-template>
  
</div>
